/**
 * @file
 * CSS customizations for Layout Builder.
 */

.layout-builder__block-style-plugins-ng__configure-region-style {
    padding: 1.5em 0;
    text-align: center;
    background-color: #f7f7f7;
}
