/**
 * @file
 * CSS for example styles.
 */

.block-style-plugins-ng-examples-light {
  background-color: lightgrey;
}

.block-style-plugins-ng-examples-dark {
  background-color: black;
  color: white;
}

.block-style-plugins-ng-examples-blue {
  background-color: blue;
  color: white;
}

.block-style-plugins-ng-examples-custom {
  background-color: red;
  color: white;
}

