<div{{ attributes }}>
  {% block content %}
    {{ content }}
  {% endblock %}
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}><span>Title: </span>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
</div>
