{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region.
 * - labels: Array of the block labels.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div{{ attributes.addClass('block-style-plugins-ng-examples-region-accordion') }}>
    {% for key, block in content if key|first != '#' %}
      <h3>{{ labels[key] }}</h3>
      <div>{{ block }}</div>
    {% endfor %}
  </div>
{% endif %}
